
<div class="col-xs-6 col-md-3 mb-5">
    <a class="thumbnail" href="{{ path('home_id', { id: image.id }) }}">
        <img class="img-responsive home_page_photo" src="{{ asset('uploads/') }}{{ image.filename }}" alt=""/>
    </a>
</div>
