<form name="user">
<div id="user">
    <div>
        <label for="user_username" class="required">Username</label>
        <input type="text" id="user_username" name="user[username]" required="required" value="{{ user.username}}" disabled>
    </div>
    <div>
        <label for="user_username" class="required">First name</label>
        <input type="text" id="user_username" name="user[username]" required="required" value="{{ user.firstname }}" disabled>
    </div>
    <div>
        <label for="user_username" class="required">Last name</label>
        <input type="text" id="user_username" name="user[username]" required="required" value="{{ user.lastname }}" disabled>
    </div>


    </div>
</form>